<%= form_tag sessions_path do %>
<header>
	  <%= link_to "Log out", logout_path,:format=>:json, :class=>'back'%>

</header>
<ul class='edit round'>
   <li> <%= text_field_tag :email, params[:email], :placeholder=>:email%></li>
   <li> <%= password_field_tag :password, params[:password], :placeholder=>:password %></li>
  <li>Remember me <span class="toggle"> <%= check_box_tag :remember_me, 1, params[:remember_me] %></span></li>
</ul>
  <%= link_to "login", login_path, :class=>'whiteButton', :id=>'login' %>
<% end %>