= form_for @user do |f|
  %header.toolbar
    %a.back{:href => "#"}  back
  %section
    - if @user.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages 
            %li= message
    %ul.edit.round
      %li= f.text_field :email, :placeholder=>:email
      %li= f.password_field :password, :placeholder=>:password
      %li= f.password_field :password_confirmation,:placeholder=>:password_confirmation
    = link_to "signup", signup_path, :class=>'whiteButton', :id=>'signup'
