<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
  		<%= stylesheet_link_tag    "mobile" %>
  		<%= javascript_include_tag "mobile" %>
    <%= yield(:head) %>
  </head>
  <body>

<%=render :partial=>'header' %>
<%=render :partial=>'navigation' %>
    <section class="current">
      <%- if show_title? -%>
      <header class="toolbar">
        <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>
        <h1><%=h yield(:title) %></h1>
        <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
        <%= yield(:toolbar) %>
      </header>
      <%- end -%>
      
      <% unless flash.empty? %>
        <div class="info">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        </div>
      <% end %>
    
      <%= yield %>
    </section>
<%=render :partial=>'menu' %>
<%=render :partial=>'footer' %>

  </body>
</html>