<!DOCTYPE html>
<html>
<head>
  <title>Schatter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%=render :partial=>'header' %>
<%=render :partial=>'navigation' %>
<section><%= yield %></section>
<%=render :partial=>'menu' %>
<%=render :partial=>'footer' %>
</body>
</html>
